name: On Pull Request

on: [ pull_request ]

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Setup environment
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: |
            5.0.x
            6.0.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Run tests
        run: dotnet test --no-restore
